* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    background-image: url(../components/fon.jpg);
    background-position: left top;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
}
.App {
    width: 1000px;
    justify-content: center;
}
.head {
    box-shadow: 0 6px 12px 1px #000000;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 70px;
    margin-bottom: 80px;
    border: 2px solid black;
    background: linear-gradient(white,lightyellow,lightyellow,lightyellow,lightgrey);
}
.text {
    box-shadow: 0 6px 12px 1px #000000;
    text-align: center;
    padding: 15px;
    margin: 15px;
    border: 2px solid black;
    background: linear-gradient(white,lightgrey);
}
.text1{
    display: flex;
    padding: 15px;
    margin: 15px;
    background: lightyellow;
}
.text2{
    justify-content: center;
    display: flex;
    padding: 15px;
    margin: 15px;
    background: lightyellow;
}
.link{
    box-shadow: 0 6px 12px 1px #000000;
    text-align: center;
    padding: 15px;
    margin: 40px;
    border: 2px solid black;
    background: linear-gradient(white,lightyellow,lightyellow,lightyellow,lightgrey);
}
.link2{
    font-family: 'Rubik One', sans-serif;
    text-decoration: underline;
    font-size: 30px;
    background: linear-gradient(45deg, red , orange , darkorange, green, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}
.post {
    box-shadow: 0 6px 12px 1px #000000;
    border: 2px solid black;
    background: linear-gradient(white,lightyellow,lightyellow,lightyellow,lightgrey);
    padding: 30px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 40px;
}
.img {
    box-shadow: 28px 26px 10px 0px rgba(0, 0, 0, 0.31);
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    align-items: flex-end;
}
.likes {
    margin-left: 90px;
    display: flex;
    align-items: center;
    horiz-align: center;
}
.button {
    margin-left: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.button:hover { background: rgb(53, 167, 110); }
.button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
.comment{
    margin-left: 20px;
}